@inherits PaginationBase
@typeparam TItem

<style>
    .pagination > .page-item > .page-link {
        cursor: pointer;
    }
</style>

<div class="row mt-2 mb-3">
    <div class="col-md-6">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item @DisableWhenCurrentIsFirstPage()" @onclick="() => NavigateToPreviousPage()">
                    <a class="page-link" aria-label="Previous" aria-disabled="@IsFirstPage()">Previous</a>
                </li>
                @{
                    if (RequiresDisplayFirstPageSeparately())
                    {
                        <li class="page-item @EnableWhenCurrentPageIsFirstPage()" @onclick="() => OnPageChanged.InvokeAsync(1)">
                            <a class="page-link">1</a>
                        </li>
                        if (RequiresGapBeforeFirstDisplayedPage())
                        {
                            <li class="page-item disabled">
                                <a tabindex="-1" class="page-link">...</a>
                            </li>
                        }
                    }

                    for (int i = FirstDisplayedPage; i <= LastDisplayedPage; i++)
                    {
                        var pageNumber = i;
                        <li class="page-item @EnableWhenPageNumberEqualsCurrentPage(pageNumber)" @onclick="() => OnPageChanged.InvokeAsync(pageNumber)">
                            <a class="page-link">@pageNumber</a>
                        </li>
                    }

                    if (RequiresDisplayLastPageSeparately())
                    {
                        if (RequiresGapAfterLastDisplayedPage())
                        {
                            <li class="page-item disabled">
                                <a tabindex="-1" class="page-link">...</a>
                            </li>
                        }
                        <li class="page-item @EnableWhenCurrentPageIsLastPage()" @onclick="() => OnPageChanged.InvokeAsync(TotalPages)">
                            <a class="page-link">@TotalPages</a>
                        </li>
                    }
                }
                <li class="page-item @DisableWhenCurrentIsLastPage()" @onclick="() => NavigateToNextPage()">
                    <a class="page-link" aria-label="Next" aria-disabled="@IsLastPage()">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-md-end">
        <div class="form-group d-inline-block mr-2 mb-3">
            <label class="d-inline-block me-1" for="pageSizeSelect">Page size:</label>
            <select class="form-control d-inline-block w-auto" id="pageSizeSelect" @bind="PageSize" @oninput="OnPageSizeChangedHandler">
                @foreach (var size in PageSizes)
                {
                    <option value="@size">@size</option>
                }
            </select>
        </div>
    </div>
</div>