@page "/words"
@inherits WordsBase

<div class="container">
    <h3>Words</h3>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Filter..."
                @bind="Filter"
                @bind:event="oninput">
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Word</th>
                    <th scope="col">Translations</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (Loading)
                {
                    <tr>
                        <td colspan="4">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border ms-3" role="status" style="width: 1.5rem; height: 1.5rem;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var word in PagedWords)
                    {
                        <tr>
                            <td>@word.Text</td>
                            <td>@word.TranslationsString</td>
                            <td><a href=""><span class="oi oi-pencil"></span></a></td>
                            <td><a href=""><span class="oi oi-delete"></span></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    @if (!Loading)
    {
        <style>
            .pagination > .page-item > .page-link {
                cursor: pointer;
            }
        </style>
        <div class="row">
            <div class="col-md-6">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item @(CurrentPage == 1 ? "disabled" : "")" @onclick="() => { if (CurrentPage > 1) ChangePage(CurrentPage - 1); }">
                            <a class="page-link" aria-label="Previous" aria-disabled="@(CurrentPage == 1 ? "true" : "false")">Previous</a>
                        </li>
                        @{
                            int totalPages = (int)Math.Ceiling(FilteredWords.Count / (Decimal)PageSize);
                            int displayedPages = Math.Min(totalPages, 5);
                            int startIndex = Math.Max(1, Math.Min(totalPages - displayedPages + 1, CurrentPage - displayedPages / 2));
                            int endIndex = startIndex + displayedPages - 1;

                            if (startIndex != 1)
                            {
                                <li class="page-item @(1 == CurrentPage ? "active" : "")" @onclick="() => ChangePage(1)">
                                    <a class="page-link">1</a>
                                </li>
                                if (startIndex > 2)
                                {
                                    <li class="page-item disabled">
                                        <a tabindex="-1" class="page-link">...</a>
                                    </li>
                                }
                            }

                            for (int i = startIndex; i <= endIndex; i++)
                            {
                                int pageNumber = i;
                                <li class="page-item @(pageNumber == CurrentPage ? "active" : "")" @onclick="() => ChangePage(pageNumber)">
                                    <a class="page-link">@pageNumber</a>
                                </li>
                            }

                            if (endIndex != totalPages)
                            {
                                if (endIndex < totalPages - 1)
                                {
                                    <li class="page-item disabled">
                                        <a tabindex="-1" class="page-link">...</a>
                                    </li>
                                }
                                <li class="page-item @(totalPages == CurrentPage ? "active" : "")" @onclick="() => ChangePage(totalPages)">
                                    <a class="page-link">@totalPages</a>
                                </li>
                            }
                        }
                        <li class="page-item @(CurrentPage >= totalPages ? "disabled" : "")" @onclick="() => { if (CurrentPage < totalPages) ChangePage(CurrentPage + 1); }">
                            <a class="page-link" aria-label="Next" aria-disabled="@(CurrentPage >= totalPages ? "true" : "false")">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-md-end">
                <div class="form-group">
                    <label>Page size: </label>
                    <select class="form-control w-auto mx-2" @bind="PageSize" @oninput="OnPageSizeChanged">
                        @foreach (var size in PageSizes)
                        {
                            <option value="@size">@size</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    }
</div>